[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
pytest = "*"
pytest-cov = "*"
flask-migrate = "*"
python-dateutil = "*"
marshmallow = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
requests = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.2"
